cubointeligenteAQARA
[{"id":"fd53816ae97658da","type":"server-state-changed","z":"1476824a5080e431","name":"Status do Cubo","server":"c9c3a2c2.7bd5e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.cubo_de_cenas_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":60,"wires":[["ef9fa48b83fd46e4","986cd6ed19554b08"]]},{"id":"ef9fa48b83fd46e4","type":"switch","z":"1476824a5080e431","name":"As 8 ações","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"wakeup","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":130,"y":340,"wires":[[],["c67d8f6073853b47"],["2a790f40ded0c2e1"],["f66f849557c4ad9c"],["3ff2e519c3f57cd4"],["da1d347b52685279"],["27193eaf87555de6"],["409459752ae31359","fc794c3c6fa3b343"]]},{"id":"986cd6ed19554b08","type":"debug","z":"1476824a5080e431","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"c67d8f6073853b47","type":"wled2","z":"1476824a5080e431","address":"172.16.40.42","brightness":"255","delay":0,"color1":"#1100fa","color2":"#ffffff","color3":"#ffffff","effect":0,"effectIntensity":"255","effectSpeed":"255","name":"Shake - Liga/Desl wLed","palette":"0","preset":0,"state":"toggle","x":450,"y":140,"wires":[[]]},{"id":"2a790f40ded0c2e1","type":"api-call-service","z":"1476824a5080e431","name":"slide - Ligar/Desligar Luz Esc 01","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"{\"color_temp\":500,\"brightness\":153}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":200,"wires":[[]]},{"id":"f66f849557c4ad9c","type":"api-call-service","z":"1476824a5080e431","name":"flip90 - Branco Frio 60%","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"{\"color_temp\":153,\"brightness\":153}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":260,"wires":[[]]},{"id":"3ff2e519c3f57cd4","type":"api-call-service","z":"1476824a5080e431","name":"Rotate left - Branco Frio 20%","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"{\"color_temp\":153,\"brightness\":51}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":320,"wires":[[]]},{"id":"da1d347b52685279","type":"api-call-service","z":"1476824a5080e431","name":"Rotate right - Branco Frio 100%","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"{\"color_temp\":153,\"brightness\":255}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":380,"wires":[[]]},{"id":"27193eaf87555de6","type":"api-call-service","z":"1476824a5080e431","name":"flip180 - Mudar para Verde","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"{\"rgb_color\":[0,128,0]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":440,"wires":[[]]},{"id":"409459752ae31359","type":"api-call-service","z":"1476824a5080e431","name":"Tap - Desligar Luzes","server":"c9c3a2c2.7bd5e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.luz_escritorio_01"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":520,"wires":[[]]},{"id":"fc794c3c6fa3b343","type":"wled2","z":"1476824a5080e431","address":"172.16.40.42","brightness":"255","delay":0,"color1":"#1100fa","color2":"#ffffff","color3":"#ffffff","effect":0,"effectIntensity":"255","effectSpeed":"255","name":"Tap - Desl wLed","palette":"0","preset":0,"state":"off","x":420,"y":580,"wires":[["cda6ab5baba0e374"]]},{"id":"cda6ab5baba0e374","type":"template","z":"1476824a5080e431","name":"msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Muito Show! Não esquece de se inscrever no canal!","output":"str","x":590,"y":580,"wires":[["810cb290195f6ace"]]},{"id":"810cb290195f6ace","type":"alexa-remote-routine","z":"1476824a5080e431","name":"echo Escritório","account":"65d50efdbb829461","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G091AA0805221FF3"]}},"x":760,"y":580,"wires":[[]]},{"id":"c9c3a2c2.7bd5e","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"65d50efdbb829461","type":"alexa-remote-account","name":"tomtech","authMethod":"proxy","proxyOwnIp":"172.16.40.102","proxyPort":"3456","cookieFile":"/config/senha","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"}]
